/*The top navigation*/

nav {
    width: 1126px;
    background-color: white;
    margin: 20px auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.nav-logo {
    margin: 20px;
    transform: translateY(10px);
}

.nav-list-btn {
    margin: 20px;
}

.nav-list-btn ol {
    display: inline-block;
}

.nav-list-btn li {
    margin: 0 20px;
}

.btn-left {
    width: 102px;
    height: 46px;
    border: 1px solid #BCD0E5;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
}

.btn-left:hover {
    background-color: rgb(217, 216, 216);
}

.btn-right {
    width: 110px;
    height: 46px;
}












/*Default on all tags*/

li {
    display: inline-block;
    
}

a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    text-decoration: none;
}

button {
    background: #FF9900;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: #173A56;
    border: 1px solid #BCD0E5;
    cursor: pointer;
}


section {
    margin: 20px 0;
}










/*Put everything in the middle exept navigation*/

main {
    width: 1126px;
    margin: auto;
}









/*header section*/

header {
    
    position: relative;
    height: 496px;
}

.header-text {
    width: 518px;
    position: absolute;
    top: 70px;
    left: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.header-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.header-text button {
    height: 53px;
    width: 175px;
    margin-right: 20px;
}

.header-inline-p {
    display: inline-block;
    
}

.header-inline-p a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

.header-large-img {
    position: absolute;
    top: 0;
    right: 0;
}







/* flexbox section*/

.section-1 h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    width: 500px;
    margin: 20px auto;
}


.section-1-flex {
    display: flex;
}

.flex-item {
    margin: 20px;
}

.flex-item h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
}

.flex-item p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.section-1 button {
    width: 175px;
    height: 53px;
    display: block;
    margin: 0 auto;
}












/*section 2*/

.section-2 {
    position: relative;
    height: 574px;
}

.section-2-left {
    width: 486px;
    position: absolute;
    top: 70px;
    left: 0;
    top: 0;
}

.section-2-left h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    color: #2F281E;
}

.section-2-left h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}

.section-2-left p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.section-2-right {
    position: absolute;
    top: 0;
    right: 0;
}

.section-2-img {
    height: 574px;
    width: 520px;
}














/*section 3*/

.section-3 {
    position: relative;
    height: 521px;
}

.section-3-left {
    position: absolute;
    top: 0;
    left: 0;
}

.section-3-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 486px;
    height: 427px;
}

.section-3-right p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.section-3-right h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    color: #2F281E;
}

.section-3-right-img img {
    display: inline-block;
}

.section-3-right-img p {
    display: inline-block;
    width: 400px;
}













/*section 4*/

.section-4 {
    position: relative;
    height: 609px;
}

.section-4-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 470px;
}

.section-4-left p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}

.section-4-left h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.section-4-left h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}

.section-4-right {
    position: absolute;
    top: 0;
    right: 0;
}













/*footer section*/

/*display flex to divide left and right in 2*/
footer {
    height: 308px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}








/*another flex to separate the logo to move it up*/

.footer-left {
    display: flex;
    margin: 20px;
}

.footer-logo {
    align-self: flex-start;
    transform: translate(-70px, 50px);
}

.footer-list-1 {
    align-self: flex-end;
}

.footer-list-1 ol li {
    display: block;
    margin: 10px;
}











.footer-right {
    display: flex;
    margin: 20px;
}

.footer-list-2 {
    align-self: flex-end;
}

.footer-signup {
    align-self: flex-end;
    transform: translate(50px, -20px)
}

.footer-list-2 ol li {
    display: block;
    margin: 10px;
}

.footer-signup button {
    display: block;
    width: 131px;
    height: 39px;
}

.footer-signup input {
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 325px;
    height: 48px;
}